body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Saira Semi Condensed', sans-serif;
}

#particles-js {
    /* background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; */
}

#imageOfMe {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 60%;
    width: 20%;
    border-radius: 2%;
}

#Intro {
    position: absolute;
    top: 20%;
    left: 50%;
}

#hello {

}

#myName {
    
}